bin/
pkg/
src/addwechat/addwechat
src/addwechat/uploads/
src/addwechat/disploy.sh
src/addwechat/fast-disploy.sh
src/addwechat/conf/app.conf
src/addwechat/log/
!src/addwechat/log/web.log

#src/miaopost/miaopost
src/miaopost/frontend/frontend
src/miaopost/frontend/uploads/
src/miaopost/frontend/fast-disploy.sh
src/miaopost/frontend/fast-disploy-test.sh
src/miaopost/frontend/conf/app.conf-test
src/miaopost/frontend/log/
!src/miaopost/frontend/log/web.log
src/miaopost/frontend/conf/app.conf
src/miaopost/frontend/conf/app.conf-online
src/miaopost/frontend/conf/apiclient_*

src/miaopost/backend/backend
src/miaopost/backend/fast-disploy.sh
src/miaopost/backend/uploads
