@CHARSET "UTF-8";
/* ====   首页样式*/
.home .head{padding-top: 15px;}
.home .logo img{height: 50px; width: 150px;}
.home .head h3.title{margin-top: 5px; }
.home .box1{margin-top: 25px;}
.home .tips{margin-top: 10px;}

/* ======= layout css */
.page-header{margin-top: 10px;}
.page-header .logo img{height: 50px; width: 150px;}
.head-left  {margin-top: 25px; }


/*===== /pg/create css */
.create_pg .title {margin-bottom: 40px;}
.create_pg .title h4{color: #2fb09d;}
.create_pg .title p{margin-top: 10px;}
.create_pg label{color: #777;}
.create_pg .uploadimg {background: rgba(0, 0, 0, 0) url("/static/images/ico-photo.png") no-repeat scroll center 26px / 46px 41px; border: 1px solid #30aacb; height: 130px;  margin: 16px;    overflow: hidden;  width: 160px;}
.create_pg .upload_btns {color: #30aacb;display: block; font-size: 16px; height: 44px; padding-top: 86px; position: relative; text-align: center; width: 100%;}
.create_pg .wechat_id_label{text-align: left;}
.create_pg .active {background-position: center center; background-size: cover; border-color: #efefef;}



