.red{color: red;}

/**  =====  layout ====== **/
.page-header {margin-top: 10px; padding-bottom: 0px; margin-bottom: 5px;}
.content{padding-bottom: 15px; min-height: 500px;}
.modal-dialog{margin-top: 180px;}
#loginModal .modal-dialog{margin-top: 50px;}
.footer { color: #969696;    height: 60px;    padding-top: 20px; margin-bottom: 10px; text-align: center; }
.footer_top a {    color: #333;    font-size: 14px;    margin: 0 10px;}
.footer_top a:hover{color: #2f2f2f;}
ul,li {list-style: none; margin: 0px; padding: 0px;}
.cats {padding-top: 10px;}
.cats a{font-size: 16px; margin-right: 5px; line-height: 38px;}

.region{padding-left: 25px; padding-right: 50px;}
.region .btn-group a.btn{padding: 0px;}
.region .btn-group a,.region .btn-group a:hover{color: #337ab7;}
.region .dropdown-menu{min-width: 100px;}
.logo{ margin-bottom: 15px; padding-left: 8px;}
.logo a{font-size: 30px; color: #ff5a5f;}
.logo span{color: #777;    font-size: 18px;    padding-top: 15px; padding-left: 15px;}

/**  ===  public ===**/
.more{font-size: 12px; font-style: italic;}
.info-list{}
.info-list .cat{font-size: 18px;}
.info-list .meta{font-size: 13px; color: #777; padding-top: 8px;}
.info-list .meta span{margin-right:   0px; margin-left: 10px;}
.info-list .info-content{margin-top: 8px;}
.info-list  .line{border-bottom: 1px solid #f0f0f0; margin-bottom: 20px; padding-bottom:  10px;}
.info-list .label-warning{background-color: #ff5a5f;}
img.img_tip{width: 18px; height: 18px;}
.label-tips{font-size: 12px;}
.dropdown button{ }
a.load-more {  color: #333; display: block; font-size: 16px; margin-right: 50px; padding: 10px 15px; text-align: center; width: 95%;}
.loading img{width: 20px;height: 20px;}
a.list_content{color: #333;}
a.list_content:hover{text-decoration: none;}
.side img{width: 100%;}
.side li{margin:15px 0; border-bottom: 1px solid #f0f0f0;}
.list_adv{margin: 15px 0;}
.list_adv img{width: 100%;}
#login_qrcode_img #login_img{width: 100%;}
.user_menu{ }
.user_menu a{ margin-right: 15px; font-size: 18px; line-height: 38px; }
.webuploader-pick{background: #fff; padding: 0px;}


/*==================== home index  ===============*/
.entry .jumbotron{background-color: transparent;}
.entry .jumbotron p{font-size: 16px;}


/** =============== info home.tpl =============== **/
.home{padding: 0 10px;}
.home .list-head{margin-top: 15px;}
.home .list-head .title{padding-left: 0px;}
.home .info-list{padding-left: 0px;}
.home .list-head h4 span.week_pv{font-size: 14px;}


/** ===== info create.tpl ============ **/
.create .valid_date{ padding-top: 5px; font-size: 16px;  color: #555; padding-left: 0px;}
.create  form label{color: #777;}

.img-up{margin-top: 15px; margin-bottom: 8px;}

.user-img {
    background: rgba(0, 0, 0, 0) url("../img/ico-add.png") no-repeat scroll center center / auto 2.33rem;
    border: 0.02rem dashed #c4c4c4;
    display: block;
    height: 8.45rem;
    margin: 0;
    overflow: hidden;
    width: 12.04rem;
    border: 1px dashed #30aacb;
}
.user-img input {
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 2rem;
}
.img-up-list {
    margin-left: -0.2rem;
}

.img-up-list .img-li i {
    background: rgba(0, 0, 0, 0) url("../img/ico-x.png") no-repeat scroll center center / 100% auto;
    border-radius: 0.4rem;
    display: block;
    height: 1.4rem;
    position: absolute;
    right: -0.3rem;
    top: -0.2rem;
    width: 1.4rem;
}
.img-up-list .img-li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.02rem solid #efefef;
    float: left;
    height:  8.45rem;
    margin: 0 0 0.2rem 0.2rem;
    position: relative;
    width: 12.11rem;
}
.create h4{color: #777; font-weight: bold;}
.create .wx{padding-left: 15px; padding-right: 10px;}
.create .wx img{width: 150px; height: 150px; }

/**  =============== info view.tpl =============== **/
.view .meta{font-size: 13px; color: #777; margin-bottom: 8px;}
.view .meta span{margin-right: 25px;}
.view .photos{margin-top: 15px;}
.view .photos img{width: 100%; margin-bottom: 5px;}
.view .adv img{width: 100%; margin: 20px 0;}

/** ============== info my ============**/
.my .info-list{margin-top: 15px;}


/*** ========== article view.tpl **/
.article-view {padding-top: 0px; padding-left: 15px;}

/*======== user css */
.user .table td {border-bottom: 1px solid #ddd; border-top: 0px; color: #777;}
.user .table td a{text-align: right;}
.user .title{margin-bottom: 40px;}
.user .title h4{color: #777;}
.user label{padding-top: 10px;}
.user a.link{color: #777;}

/** user edit css ***/
.edit_user form{margin-top: 30px;}
