/**  =====  layout ====== **/
.page-header {margin-top: 10px;}
.page-header .logo a {font-size: 30px; color: #ea6f5a;}
.page-header  .slogan {font-size: 18px; padding-top: 15px; color: #777; }
.page-header a.search_cats{font-size: 14px;}
.content{padding-bottom: 15px; min-height: 500px;}
.modal-dialog{margin-top: 180px;}
.footer { color: #969696;    height: 60px;    padding-top: 20px; margin-bottom: 10px; text-align: center; }
.footer_top a {    color: #969696;    font-size: 14px;    margin: 0 10px;}
.footer_top a:hover{color: #2f2f2f;}

/**  ===  public ===**/
.more{font-size: 12px; font-style: italic;}
.info-list{margin-top: 25px;}
.info-list .cat{font-size: 18px;}
.info-list .meta{font-size: 13px; color: #777; padding-top: 8px;}
.info-list .meta span{margin-right:   10px;}
.info-list .info-content{margin-top: 8px;}
.info-list  .line{border-bottom: 1px solid #f0f0f0; margin-bottom: 20px; padding-bottom:  10px;}
img.img_tip{width: 18px; height: 18px;}
.label-tips{font-size: 12px;}
.dropdown button{ }
.load-more { background-color: #a5a5a5; border-radius: 20px; color: #fff;  display: block; font-size: 13px; margin-right: 50px; padding: 10px 15px; text-align: center; width: 95%;}
.loading img{width: 20px;height: 20px;}


/** =============== home.tpl =============== **/
.home{padding: 0 10px;}
.home .cats{margin-top: 8px;}
.home .list-head{margin-top: 25px;}
.home .list-head .title{padding-left: 0px;}
.home .info-list{padding-left: 0px;}



/** ===== create.tpl ============ **/
.create .valid_date{ padding-top: 5px; font-size: 16px;  color: #555; padding-left: 0px;}
.create  form label{color: #777;}

.img-up{margin-top: 15px;}

.user-img {
    background: rgba(0, 0, 0, 0) url("../img/ico-add.png") no-repeat scroll center center / auto 2.33rem;
    border: 0.02rem dashed #c4c4c4;
    display: block;
    height: 8.45rem;
    margin: 0;
    overflow: hidden;
    width: 12.04rem;
    border: 1px dashed #30aacb;
}
.user-img input {
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 2rem;
}
.img-up-list {
    margin-left: -0.2rem;
}

.img-up-list .img-li i {
    background: rgba(0, 0, 0, 0) url("../img/ico-x.png") no-repeat scroll center center / 100% auto;
    border-radius: 0.4rem;
    display: block;
    height: 1.4rem;
    position: absolute;
    right: -0.3rem;
    top: -0.2rem;
    width: 1.4rem;
}
.img-up-list .img-li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.02rem solid #efefef;
    float: left;
    height:  8.45rem;
    margin: 0 0 0.2rem 0.2rem;
    position: relative;
    width: 12.11rem;
}


/**  =============== info view.tpl =============== **/
.view .meta{font-size: 13px; color: #777; margin-bottom: 8px;}
.view .meta span{margin-right: 25px;}
.view .photos{margin-top: 15px;}
.view .photos img{width: 100%; margin-bottom: 5px;}


/*** ========== article view.tpl **/
.article-view {padding-top: 0px; padding-left: 15px;}